.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}


.navbar{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: rgb(214, 205, 205);
  z-index: 1;
}

.ui.segment.inverted.olive.bot-army {
  background-color: #7f817c;
  color: white;
  text-align: center;
  padding: 20px;
  }
  
  .ui.five.column.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  }
  
  .row.bot-army-row {
  display: flex;
  justify-content: center;
  align-items: center;
  }